* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 18px Helvetica, Arial; }
.wrap{
    text-align:center;
    padding-top: 20px;    
}
.wrap-title{
    font-size: 40px;
}
.cut-off{
    margin: 15px 0px; 
    height: 5px;
    background-color: #7bc3fd;
}
.content{
    text-align:center;
}
.content span{
    display:inline-block; 
    width: 150px;
    font-size: 18px;
}
.item{
    margin: 20px 0px;
}
.check-btn{
    width: 120px;
    height: 40px;
    background-color: #7bc3fd;
}
#findRecord{
    width:120px;
    height: 25px;
}